.test-img{
  width: 9rem;
  border-radius: 9rem;
  margin: 0 auto;
}

.img-div{
  margin-top: 50px;
  width: auto;
  text-align: center;
}

.personal-header-img{
  width: 7rem;
  border-radius: 7rem;
  margin: 0 auto;
}

body{
  margin: 0;
}


a{
  text-decoration: none;
}

.weui-tabbar .weui-tabbar__label{
  line-height: 0.8 !important;
}

.customer-content{
  height: 80%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  overflow: auto;
}

.customer-content .img-div{
  margin-top: 25px;
  width: auto;
  text-align: center;
}

.map{
  width: 100%;
  height: 300px;
}

.park-img{
  width: 4em;
}

.weui-cell.vux-tap-active.weui-cell_access {
  height: 4em;
}

.weui-cells.vux-no-group-title .weui-cell_access .weui-cell__ft{
  padding-right: 30px;
}
