.test-img{
  width: 9rem;
  border-radius: 9rem;
  margin: 0 auto;
}

.img-div .weui-cells.vux-no-group-title{
  background: #35495e;
}

.img-div .weui-cell__ft.vux-cell-primary{
  color: white;
}

.personal-header-img{
  width: 7rem;
  border-radius: 7rem;
  /*margin:0px auto;*/
}

body{
  margin: 0;
}


a{
  text-decoration: none;
}

.customer-content{
  height: 85%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  overflow: auto;
}

.customer-content .img-div{
  width: auto;
  text-align: center;
}

.map{
  width: 100%;
  height: 300px;
}

.park-img{
  width: 4em;
}

.weui-cell.vux-tap-active.weui-cell_access {
  height: 4em;
}

.weui-cells.vux-no-group-title .weui-cell_access .weui-cell__ft{
  padding-right: 30px;
}

.temp-div{
  height: 10%
}

.login-action-div .weui-btn_plain-primary {
  border: 1px solid #35495e;
}

.weui-btn_plain-primary:not(.weui-btn_plain-disabled):active{
  color: blue !important;
  border-color: blue !important;
}

.login-action-body{
  text-align: center;
}

.parking-logo-img{
  margin-top: 20%;
  width: 8em;
}

.login-div .weui-btn_plain-default, .register-div .weui-btn_plain-default{
  color: white !important;
  background-color: #35495e !important;
  border: 1px solid #35495e !important;
}

.login-action-div .weui-btn_plain-primary{
  color: #35495e;
}

.img-div .weui-cell{
  height: 5em ;
}

.personal-center-div .weui-cells.vux-no-group-title{
  margin-top: -1px;
}

.weui-panel{
  width: 95%;
  margin: 10px auto !important;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
}

.vux-card-content{
  margin: 0 !important;
}

.tag-div .ivu-select-input{
  height: 44px;
}

.tag-div .ivu-select-selection{
  border-radius: 0px;
}

.parking-boy-personal-center .weui-cells.vux-no-group-title {
  margin-top: -1px;
}

.tag-div .ivu-select-selection{
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.tag-div .ivu-select-input{
  font-size: 17px;
  color: black;
  left: 6px;
}

.tag-div .ivu-select-dropdown{
  left: 0px !important;
}
